:root{
    --light-grey: #D2D2D2;
    --main-color: #141922;
    --bottom-navbar: #282828;
    --top-navbar: #080B12;
    --hover-green: #78AE32;
    --text-grey: #7B7D82;
}
html{
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body >*{
    border: 1px dashed red;
}
img{
    width: 100%;
    display: block;
}
.top-container{
    flex-grow: 1;
    display: flex;
    overflow: auto;
}

/* sidebar with top and middle section  */
.sidebar{
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.sidebar-list li > a:hover {
    color: white;
}
.sidebar .top-section{
    flex-shrink: 0;
}
.sidebar .middle-section{
    flex-grow: 1;
    overflow: auto;
}
.sidebar .middle-section .playlist-box{
    display: none;
}
.sidebar .sidebar-list{
    list-style: none;
}
.sidebar .sidebar-list a {
    display: flex;
    padding: 1rem;
    justify-content: center;
    color: var(--text-grey);
    text-decoration: none;
}
.sidebar .sidebar-list .big-logo{
    display: none;
}
.sidebar .sidebar-list .item-text{
    display: none;
}
.green-detail{
    border-left: 2px solid var(--hover-green);
}
.item-icon{
    font-size: 20px;
}
.plus-button{
    font-size: 40px;
}
.playlist-box .sidebar-list a {
    padding: 0.5rem 1rem;
}
.sidebar-list h3{
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
}
/* ------------------------ */


/* bottom section of the sidebar */
.middle-section, .bottom-section{
    color: var(--text-grey);
}
.bottom-section{
    display: flex;
    flex-direction: column;
}
.color-white{
    color: white;
}
.bolder{
    font-weight: 800;
}
.hr{
    border: 0.5px solid var(--text-grey);
    border-radius: 1rem;
    width: 190px;
    display: none;
    margin-left: 10px;
}
/* ----------------------------- */

/* main container + top bar with a cta  */
.main-container{
    flex-grow: 1;
    overflow: auto;
    background-color: var(--main-color);
}

.top-bar{
    background-color: var(--top-navbar);
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
}
.upgrade-btn{
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    padding: 1rem 3rem;
    margin: 1rem;
    font-weight: 600;
}
.upgrade-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* ---------------------- */

/* categories top bar */
.categories-bar{
    padding: 0 1rem;
}
.categories-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.categories-list a{
    text-decoration: none;
    color: var(--text-grey);
}
.categories-list a:hover{
    cursor: pointer;
    color: white;
}
.categories-list a > div{
    padding: 1rem;
    font-weight: 700;
}
/* -----  */

/* green line bottom  */
.green-detail-bt{
    border: 1px solid var(--hover-green);
    width: 40px;
    margin: 0.2rem 1.5rem;
}
/* ------- */

/* title  */
.title{
    padding: 2rem 1rem;
    color: white;
}
/* ----- */

/* main album section + row + card + col  */
.row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}
.col{
    padding: 0 0.5rem;
    padding-bottom: 0.5rem;
}
.card-album{
    text-align: center;
}
.col-1-2{
    flex-basis: 50%;
}
.col-2-2{
    flex-basis: 100%;
}
.col-1-3{
    flex-basis: calc(100% / 3);
}
.col-2-3{
    flex-basis: calc(100% / 3 * 2);
}
.col-1-4{
    flex-basis: 25%;
}
.col-2-4{
    flex-basis: 50%;
}
.col-1-6{
    flex-basis: calc(100% / 6);
}
/* ---------------------------------------- */



/* image card + hover effect  */
.img-container{
    margin-bottom: 1rem;
    position: relative;
}
.play-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 60px;
    color: var(--light-grey);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}
.play-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.51);
    opacity: 1;
}
/* --------------------------------- */



/* card text section  */
.album-title{
    color: white;
    font-weight: 600;
    padding-bottom: 0.7rem;
}
.album-subtitle{
    color: var(--text-grey);
}
.sub-head{
    padding-top: 0.5rem;
    color: var(--text-grey);
}
.round-img{
    border-radius: 50%;
}
/* ---------------------------- */



/* bottom-navbar */
.bottom-navbar{
    flex-shrink: 0;
    min-height: 60px;
    background-color: var(--bottom-navbar);
    padding: 1rem;
}
.row-player{
    display: flex;
    padding: 0.5rem;
}
.img-container-player{
    width: 5%;
}
.text-player{
    padding: 0 1rem;
}

.no-pad{
    padding-bottom: 0;
}

