:root{
    --light-grey: #D2D2D2;
    --main-color: #141922;
    --bottom-navbar: #282828;
    --top-navbar: #080B12;
    --hover-green: #78AE32;
    --text-grey: #7B7D82;
}
html{
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body >*{
    border: 1px dashed red;
}
img{
    width: 100%;
    display: block;
}
.top-container{
    flex-grow: 1;
    display: flex;
}
.sidebar{
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}
.sidebar .top-section{
    flex-shrink: 0;
}
.sidebar .middle-section{
    flex-grow: 1;
    overflow: auto;
}
.sidebar .middle-section .playlist-box{
    display: none;
}
.sidebar .sidebar-list{
    list-style: none;
}
.sidebar .sidebar-list a {
    display: flex;
    padding: 1rem;
    justify-content: center;
    color: var(--text-grey);
    text-decoration: none;
}
.sidebar .sidebar-list .big-logo{
    display: none;
}
.sidebar .sidebar-list .item-text{
    display: none;
}
.item-icon{
    font-size: 20px;
}
.plus-button{
    font-size: 40px;
}
.playlist-box .sidebar-list a {
    padding: 0.5rem 1rem;
}
.sidebar-list h3{
    color: white;
    padding-left: 1rem;
    padding-top: 1rem;
}
.middle-section, .bottom-section{
    color: var(--text-grey);
}
.bottom-section{
    display: flex;
    flex-direction: column;
}
.color-white{
    color: white;
}
.bolder{
    font-weight: 800;
}

.hr{
    border: 0.5px solid var(--text-grey);
    border-radius: 1rem;
    width: 190px;
    display: none;
    margin-left: 10px;
}

.main-container{
    flex-grow: 1;
}
.bottom-navbar{
    flex-shrink: 0;
}

