@media screen and (min-width: 568px) {
    .sidebar{
        width: 220px;
    }
    .sidebar .middle-section .playlist-box {
        display: block;
    }
    
    .sidebar .sidebar-list a {
        justify-content: flex-start;
    }
    
    .sidebar .sidebar-list .logo {
        font-size: 1.5rem;
    }
    
    .sidebar .sidebar-list .small-logo {
        display: none;
    }
    
    .sidebar .sidebar-list .big-logo {
        display: block;
        width: 70%;
    }
    
    .sidebar .sidebar-list .item-icon {
        margin-right: 1rem;
    }
    
    .sidebar .sidebar-list .item-text {
        display: block;
        align-self: center;
    }
    .playlist-box .playlist-creation .item-icon{
        margin-right: 0.5rem;
    }
    .bottom-section{
        justify-content: center;
    }
    .hr{
        display: block;
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px){

}